.sort-header {
    display: flex;
    align-items: center;
    gap: .4rem;

    padding-block: .5rem;

    cursor: pointer;

}

.avatar {
    width: 30px;
    height: 30px;

    margin-right: 10px;
    border-radius: 50%;
}

