.sort-header {
    display: flex;
    align-items: center;
    gap: .4rem;

    padding-block: .5rem;

    cursor: pointer;

}

.pagination-controls {
    justify-content: end;
    align-items: center;
    gap: 1rem;

    margin-block-start: .8rem;

    .current-page {
        gap: .3rem;
    }
}

.avatar {
    width: 30px;
    height: 30px;

    margin-right: 10px;
    border-radius: 50%;
}

